<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MLModelDescriptionKey</key>
	<dict>
		<key>MLModelAuthorKey</key>
		<string>Pinaklean Team</string>
		<key>MLModelDescriptionKey</key>
		<string>Content type prediction model for file classification</string>
		<key>MLModelLicenseKey</key>
		<string>MIT</string>
		<key>MLModelVersionStringKey</key>
		<string>1.0.0</string>
		<key>MLModelShortDescriptionKey</key>
		<string>Predicts content type from file name and extension</string>
	</dict>
	<key>MLModelPrimaryInputDescriptionKey</key>
	<dict>
		<key>MLFeatureDescriptionNameKey</key>
		<string>input</string>
		<key>MLFeatureDescriptionShortDescriptionKey</key>
		<string>File name and extension features</string>
		<key>MLFeatureDescriptionTypeKey</key>
		<string>MLMultiArray</string>
	</dict>
	<key>MLModelPrimaryOutputDescriptionKey</key>
	<dict>
		<key>MLFeatureDescriptionNameKey</key>
		<string>content_type</string>
		<key>MLFeatureDescriptionShortDescriptionKey</key>
		<string>Predicted content type probabilities</string>
		<key>MLFeatureDescriptionTypeKey</key>
		<string>MLMultiArray</string>
	</dict>
	<key>MLModelSpecificationVersionKey</key>
	<integer>4</integer>
</dict>
</plist>